<!DOCTYPE html>
<html lang="es-MX">

<head>
    {% include head.html %}
</head>

<body>

{% include menu_page.html %}

<aside class="callout">
    <div class="text-vertical-center">
        <h1>Desarrollo Web y Marketing Digital</h1>
    </div>
</aside>

<article class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="post-header">
                    <h2 class="post-title page-header">{{ page.title }}</h2>
                </header>
            </div>

            <div class="col-md-7">
                <div class="post-content">
                    {{ content }}
                </div>
            </div>
            <div class="col-md-4 col-sm-offset-1">
                <div class="fb-page" data-href="https://www.facebook.com/famisoft/" data-tabs="timeline" data-width="360" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/famisoft/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/famisoft/">FamiSoft</a></blockquote></div>
                <a class="twitter-timeline" data-lang="es" data-height="600" href="https://twitter.com/GoodKuote">Tweets by GoodKuote</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</article>

{% include footer.html %}

</body>

</html>

